# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rprofile

# RStudio files
.Rproj.user/
*.Rproj

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# rendered Rmds
*.pdf
!README.pdf
!Fig1_G4_original.pdf
!Fig1_N0_original.pdf
!Fig1_N2_original.pdf
!Fig1_N5_original.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# renv
renv/

# others
.DS_Store

# output
PP_markers_homology_amp_all_zf_f_5to12.csv
Mapping_table*.csv
*.h5ad
*.pkl
*.html
timepoints_rds/
output/
figures/


